.verzameling {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0px; 
}

.download-div {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px 120px 0px; 
}

.image-lockup {
    display: inline-block;
    width: 230px;
    height: 310px; 
    background-color: white;
    box-shadow: 0px 0px 15px var(--shadow); 
}

.image-lockup-clear {
    display: inline-block;
    background-color: white;
}

.logo-lockup {
    width: 200px; 
    margin: 20px 15px; 
}

.logo-lockup2 {
    width: 250px; 
    margin: 0px 0px 20px 0px; 
}

.logo-lockup3 {
    width: 200px; 
}

.rij-logo {
    display: inline-block; 
    width: 200px;
    margin: 15px 0px;
}

.photo_big {
    width: 300px; 
    margin-top: -30px; 
}

.verzameling2 {
    display: flex;
    flex-wrap: wrap; 
    width: 100%; 
}

.rij {
    display: block; 
    width: 100%;  
}

.rij-links {
    display: inline-block; 
    width: 250px;
    margin: 15px 0px;
}

.rij-rechts {
    display: inline-block; 
    width: 250px; 
    margin: 15px 0px; 
}

div.flex {
    display: flex;
    justify-content: space-around;
    width: 100%; 
}