p.header {
    font-family: 'gt sectra', serif; 
    font-size: 40px;
    line-height: 48px;
    margin: 0px 0px 20px 0px!important;  
    color: var(--green); 
    font-weight: 100; 
}

p.subheader {
    font-family: 'objektiv-mk2';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    margin: 0px!important; 
    color: var(--green); 
}

p.bodytext {
    font-family: 'objektiv-mk2';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    margin: 0px 0px 24px 0px!important; 
    color: var(--gray); 
}
