div.font-family {
    margin: 70px auto 70px auto; 
    width: 90%;
    display: flex;
    justify-content: space-between;  
}

div.font-family-center {
    margin: 50px auto 50px auto; 
    width: 90%;
    display: flex;
    justify-content: center;  
}

div.font-family-sub {
    word-wrap:break-word;
    width: 42%; 
    display: inline-block; 
}

.padding-top{
    padding-top: 40px; 
}

p.font-example-big {
    font-size: 40px;
    line-height: 48px;
    margin: 0px 0px 20px 0px!important;  
    color: var(--green); 
    font-weight: 100; 
}

p.font-example-small {
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    margin: 0px 0px 24px 0px!important; 
    color: var(--gray);
}

.gtsectra {
    font-family: 'gt sectra';
}

.objektiv {
    font-family: 'objektiv-mk2';
}

.arial {
    font-family: 'arial'; 
}