@media (max-width: 999px) {
    .website-big {
        display: none; 
    }

    @font-face {
        font-family: 'gt sectra';
        src: url(../fonts/GT-Sectra-Fine-Medium-Trial.otf);
        font-style: normal;
        font-weight: 100; 
    }

    :root {
        --green: #004631;
        --gray: #353535;
        --shadow: #00463127;
        --accent: #588369;
        --accentlight: #58836983; 
    }

    .website-small {
        margin: 0px 10%; 
    }

    p.header {
        font-family: 'gt sectra', serif; 
        font-size: 40px;
        line-height: 48px;
        margin: 0px 0px 20px 0px!important;  
        color: var(--green); 
        font-weight: 100; 
        text-align: center;
    }
     
    p.subheader {
        font-family: 'objektiv-mk2';
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 32px;
        margin: 0px!important; 
        color: var(--green); 
        text-align: center;
    }
    
    
    p.bodytext {
        font-family: 'objektiv-mk2';
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 32px;
        margin: 0px 0px 24px 0px!important; 
        color: var(--gray); 
        text-align: center;
    }

    .small-screen-div {
        min-width: 100%;
        display: flex;
        justify-content: center;
    }

    .small-screen {
        min-width: 100px; 
        max-width: 250px;  
        margin: 50px auto; 
    }
}

@media (min-width: 1000px) {

/**************************************** VARIABLES ****************************************/
@font-face {
    font-family: 'gt sectra';
    src: url(../fonts/GT-Sectra-Fine-Medium-Trial.otf);
    font-style: normal;
    font-weight: 100; 
}

:root {
    --green: #004631;
    --gray: #353535;
    --shadow: #00463127;
    --accent: #588369;
    --accentlight: #58836983; 
}

.align-right {
    text-align: right; 
}

.twentyfive {
    width: 25%!important;
}

.sixtyfive {
    width: 65%!important; 
}

.full-width {
    width: 100%!important; 
}

.margin-less {
    margin: -40px 0px 5px 0px!important; 
}

.margin-less2 {
    margin: 40px 0px 5px 0px!important; 
}

.margin-bottom {
    margin-bottom: 70px!important; 
}

/**************************************** NAVBAR ****************************************/

html {
    padding: 0px!important;
    margin: 0px!important;
}

body {
    padding: 0px!important;
    margin: 0px!important;
}

.website-big {
    padding: 0px!important;
    margin: 0px!important;
}

div.half-left {
    max-width: 600px; 
}

.website-small {
    display: none; 
}

.container {
    margin: 0px!important;
    padding: 85px 12.5% 0px 12.5%; 
    width: 75%; 
}

.navbar {
    padding: 0px 10%; 
    width: 80%; 
    height: 80px; 
    background-color:white; 
    color: var(--gray);
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    box-shadow: 0px 3px 5px var(--shadow); 
}

.navbar_item_container {
    font-family: 'objektiv-mk2', sans-serif; 
    font-size: 16px; 
    font-weight: 400; 
    font-style: normal;
    color: #004631; 
    display: inline-block; 
}

.navbar_logo {
    width: 40px; 
    margin: auto; 
}

a.navbar_button {
    text-decoration: none; 
    color: var(--green); 
}

a.navbar_button:hover {
    color: var(--accent); 
    transition-duration: 0.3s; 
}

a.navbar_button:active {
    color: var(--accentlight);
    transition-duration: 0.3; 
}

/* Dropdown Button */
.dropbtn {
    font-family: 'objektiv-mk2', sans-serif; 
    font-size: 16px; 
    font-weight: 400; 
    font-style: normal;
    color: #004631; 
    background-color: white;
    border: none; 
    outline: 0; 
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    outline: 0; 
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white; 
    min-width: 160px;
    box-shadow: 0px 3px 5px var(--shadow); 
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    font-family: 'objektiv-mk2', sans-serif; 
    font-size: 16px; 
    font-weight: 400; 
    font-style: normal;
    color: #004631; 
    padding: 20px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
        color: var(--accent); 
        transition-duration: 0.3s; 
    }

    .dropdown-content a:active {
        color: var(--accentlight); 
        transition-duration: 0.3s; 
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
      outline: 0; 
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      outline: 0; 
    }

    .dropdown:focus .dropbtn {
      outline: 0; 
    }

    .dropdown:active .dropbtn {
        outline: 0;
      }

/**************************************** CHARACTER STYLES ****************************************/
p.header {
    font-family: 'gt sectra', serif; 
    font-size: 40px;
    line-height: 48px;
    margin: 0px 0px 20px 0px!important;  
    color: var(--green); 
    font-weight: 100; 
}

p.header-big {
    font-family: 'gt sectra', serif; 
    font-size: 72px;
    line-height: 86px;
    margin: 0px 0px 24px 0px!important;  
    color: var(--green); 
    font-weight: 100; 
}

.subheader {
    font-family: 'objektiv-mk2';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    margin: 0px!important; 
    color: var(--green); 
}

.subheader2 {
    font-family: objektiv-mk2, sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
    line-height: 32px;
    margin: 0px!important; 
    color: var(--green); 
}

p.bodytext {
    font-family: 'objektiv-mk2';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    margin: 0px 0px 24px 0px; 
    color: var(--gray); 
}

.justify {
    text-align: center;
}

/**************************************** BUTTON  ****************************************/

a.button-regular {
    text-decoration: none; 
    color: var(--green);
}

button.button-regular {
    font-family: 'objektiv-mk2';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: transparent; 
    color: var(--green); 
    min-width: 170px;
    min-height: 35px; 
    text-align: center; 
    border: 1px solid var(--green); 
    border-radius: 100px; 
    margin: 40px auto 0px auto;
    display:block;
}

.button-margin-sm {
    margin: 0px auto 20px auto!important; 
}

a.button-regular:hover {
    color: var(--accent);
    transition-duration: 0.3s; 
}

button.button-regular:hover {
    color: var(--accent); 
    border: 1px solid var(--accent); 
    transition-duration: 0.3s; 
}

a.button-regular:active {
    color: var(--accentlight);
    transition-duration: 0.3s; 
}

button.button-regular:active {
    color: var(--accentlight); 
    border: 1px solid var(--accentlight); 
    transition-duration: 0.3s; 
}

/**************************************** LISTS  ****************************************/

ul {
    list-style: none; 
  }
  
ul li::before {
    content: "\2022";  
    color: var(--green); 
    font-weight: bold; 
    display: inline-block; 
    width: 1em;
    margin-left: -1em; 
}

li {
    font-family: 'objektiv-mk2';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    color: var(--gray); 
}



}